<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <title>{% block headTitle %}Base html{% endblock headTitle %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"> {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'games/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'games/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% block css %}{% endblock css %}">


</head>

<body>
    <div class="container-fluid entete">
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" id="logo">
                <img class="logo" src="{% static 'games/img/logo-zerosix.png' %}">
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
        </div>
    </div>

    <div class="container encadreTitre">
        <div class="col-xs-12 col-sm-12 col-md-12 col-md-12">
            <h1>{% block titreCadre %}base{% endblock titreCadre %}</h1>
        </div>
    </div>

    {% block content %}{% endblock %}

    <footer class="container footer">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <p>Copyright &copy;
                    <a href="http://www.zerosix.com" target="_blank">zerosix</a>
                </p>
            </div>
        </div>
    </footer>
    <!-- jQuery -->
    <script src="{% static 'games/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'games/js/bootstrap.min.js' %}"></script>

</body>

</html>