{% extends 'games/base.html' %} {% block title %} Choix des Gains {% endblock title %} {% block content %}
<div class="encadre">
    <p>
        <h1>CHOIX DES GAINS</h1>
    </p>
</div>

<div class="container bloc table-responsive-sm">

    <!-- <table class="table-striped">
        <thead>
            <tr>
                <th>Nom Gain</th>
                <th>Valeur</th>
                <th>Quantité Initiale</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Contenu de la cellule</td>
                <td>Contenu de la cellule</td>
                <td>Contenu de la cellule</td>
                <td>Contenu de la cellule
                    <button id="parcourir" type="button" class="btn btn-primary ml-2">Parcourir</button>
                </td>
            </tr>
            <tr>
                <td>Contenu de la cellule</td>
                <td>Contenu de la cellule</td>
                <td>Contenu de la cellule</td>
                <td>Contenu de la cellule
                    <button id="parcourir" type="button" class="btn btn-primary ml-2">Parcourir</button>
                </td>
            </tr>
            <tr>
                <td>Contenu de la cellule</td>
                <td>Contenu de la cellule</td>
                <td>Contenu de la cellule</td>
                <td>Contenu de la cellule
                    <button id="parcourir" type="button" class="btn btn-primary ml-2">Parcourir</button>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>

                <td>
                    <button id=testa type="button" class="btn btn-danger">Annuler</button>
                    <button id=testa type="button" class="btn btn-success">Confirmer</button>
                </td>
            </tr>
        </tbody>
    </table> -->
    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Nom Gain</th>
                <th scope="col">Valeur</th>
                <th scope="col">Quantité Initiale</th>
                <th scope="col">Image</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Contenu de la cellule</td>
                <td>Contenu de la cellule</td>
                <td>Contenu de la cellule</td>
                <td>Contenu de la cellule
                    <button id="parcourir" type="button" class="btn btn-primary">Parcourir</button>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Contenu de la cellule</td>
                <td>Contenu de la cellule</td>
                <td>Contenu de la cellule</td>
                <td>Contenu de la cellule
                    <button id="parcourir" type="button" class="btn btn-primary ml-2">Parcourir</button>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Contenu de la cellule</td>
                <td>Contenu de la cellule</td>
                <td>Contenu de la cellule</td>
                <td>Contenu de la cellule
                    <button id="parcourir" type="button" class="btn btn-primary ml-2">Parcourir</button>
                </td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Contenu de la cellule</td>
                <td>Contenu de la cellule</td>
                <td>Contenu de la cellule</td>
                <td>Contenu de la cellule
                    <button id="parcourir" type="button" class="btn btn-primary ml-2">Parcourir</button>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <button id=testa type="button" class="btn btn-danger">Annuler</button>
                    <button id=testa type="button" class="btn btn-success">Confirmer</button>
                </td>
            </tr>

        </tbody>
    </table>
</div>

{% endblock %}