{% extends "games/base.html" %}

{% load static %}

{% block headTitle %}games{% endblock headTitle %}

{% block css %}
{% static 'games/css/games.css' %}
{% endblock css %}

{% block titreCadre %}CHOIX DES JEUX{% endblock titreCadre %}


{% block content %}

<div class="container blocContenu">

{% if object_list|length_is:"0" %}
    <div>Aucun jeu n'a été ajouté</div>
{% else %}

    {% for game in object_list %}

        <div class="row mb-5 tabGame">
            <div class="col-md-4 ">
                <img src="{{ game.game_logo.url }}" >
            </div>
            <div class="col-md-4">
                <h5>{{ game.description }}</h5>
            </div>
            <div class="col-md-4">
                <button class="btn btn-success">JOUER</button>
            </div>
        </div>

    {% endfor %}

{% endif %}
    <div class="row tabGame ">
        <div class="col-md-8">
        </div>
        <div class="col-md-4">
            <button class="btn btn-danger">RETOUR</button>
        </div>
    </div>
</div>



{% endblock  %}