{% extends 'games/base.html' %}

{% load static %}

{% block headTitle %}Votre profil{% endblock headTitle %}

{% block css %}

{% static 'games/css/player-detail.css' %}

{% endblock css %}

{% block titreCadre %}Votre profil{% endblock titreCadre %}

{% block content %}


<body>
        <div class="container blocContenu">  
                <fieldset>
                        <div id="row1" class="row">
                                <div id="div1" class="col-lg-6">
                                        <H2>Profils : 
                                        </H2>
                                </div>
                                <div id="div2" class="col-lg-6">
                                        <H2>Avatar : </H2>
                                </div>
                        </div>        
                                                      
                        <div id="row2" class="row">
                                <div id="div3" class="col-lg-6">
                                        <div class="row">
                                                <div class="col-lg-3">
                                                        <label for="gender"> Civilité : </label>        
                                                </div>
                                                <div class="col-lg-9">
                                                        <label for="gender">  
                                                                <input type="text">
                                                        </label>
                                                </div>    
                                        </div>
                                        <div class="row">
                                                <div class="col-lg-3">
                                                        <label for="name"> Nom : </label>        
                                                </div>
                                                <div class="col-lg-9">
                                                        <label for="gender">  
                                                                <input type="text">
                                                        </label>
                                                </div>    
                                        </div>
                                        <div class="row">
                                                <div class="col-lg-3">
                                                        <label for="Firstname"> Prénom : </label>        
                                                </div>
                                                <div class="col-lg-9">
                                                        <label for="gender">  
                                                                <input type="text">
                                                        </label>
                                                </div>    
                                        </div>
                                        
                                        <div class="row">
                                                <div class="col-lg-3">
                                                        <label for="emailr"> Adresse Email : </label>        
                                                </div>
                                                <div class="col-lg-9">
                                                        <label for="gender">  
                                                                <input type="text">
                                                        </label>
                                                </div>    
                                        </div>
                                        <div class="row">
                                                <div class="col-lg-3">
                                                        <label for="datenaissance"> Date de Naissance : </label>        
                                                </div>
                                                <div class="col-lg-9">
                                                        <label for="gender">  
                                                                <input type="text">
                                                        </label>
                                                </div>    
                                        </div>
                                        <div class="row">
                                                <div class="col-lg-3">
                                                        <label for="pseudo"> Pseudo : </label>        
                                                </div>
                                                <div class="col-lg-9">
                                                        <label for="gender">  
                                                                <input type="text">
                                                        </label>
                                                </div>    
                                        </div>
                                </div>
                                <div id="div4" class="col-lg-6">
                                        <div>
                                                <img id="avatar" class="img-thumbnail" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png"></img>
                                                <br>
                                                <br>
                                        </div>
                                </div>
                        </div>
                        
                        <div id="row3" class="row">
                                <div id="div5" class="col-lg-6">
                                        <div class="control-group">
                                                <div class="controls">
                                                        <button class="btn btn-primary">Modifier</button>
                                                        <br>
                                                        <br>
                                                </div>
                                        </div>
                                </div>
                                <div id="div5" class="col-lg-6"></div> 
                        </div> 
                </fieldset>

        </div>

</body>

{% endblock content %}

