
{% extends "games/base.html" %}

{% load static %}

{% block headTitle %}{% endblock headTitle %}

{% block css %}{% endblock css %}

{% block titreCadre %}Player List{% endblock titreCadre %}

{% block content %}


<div class="container blocContenu">
        {% if object_list|length_is:"0" %}

        <div>Aucun joueur n'a été ajouté :/</div>
        
        {% else %}
        
        {% for player in object_list %}
        <div>{{player.pseudo}}</div>
        
        {% endfor %}
        {% endif %}
   
</div>

{% endblock content %}